@use "../../styles/mixins";

.stickyHeader {
  @include mixins.page-side-padding;
  position: sticky;
  top: 0;
  padding-bottom: 0.5rem;
  z-index: 99;
  background-color: white;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @include mixins.container-l;
}

.navSection {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  touch-action: none;
}

@media (max-width: 960px) {
  .headerContent {
    display: block;
  }
  .titleSection {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .navSection {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
  }
  .active {
    display: flex;
  }
}
