.galleryContentContainer {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1.5rem;
  gap: clamp(1.5rem, 4vmin, 4rem);
  min-height: 75vh;
  align-items: start;
}

.title {
  display: none;

  img {
    height: 18px;
    width: 18px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 850px) {
  .galleryContentContainer {
    display: block;
  }

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.25rem;
  }
}
