@use "@/common/styles/mixins";

.buyOptionRadio {
  position: relative;
  display: flex;
  align-items: center;
  padding: clamp(1rem, 3vmin, 2rem);
  border: 1px solid transparent;

  &.selected {
    border: 1px solid black;
  }

  &:not(.selected):hover {
    border: 1px solid #ddd;
  }

  input {
    display: none;
  }

  label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }

  img {
    max-width: 150px;
    max-height: 150px;
    @include mixins.dropShadow;
  }
}

.selectedText {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 0 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background-color: black;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.infoContainer {
  flex: 1;
  margin-left: clamp(1rem, 4vmin, 2rem);
  margin-right: clamp(1rem, 4vmin, 2rem);

  table {
    margin-top: 0.65rem;
  }

  th,
  td {
    padding: 0.2rem 0.8rem 0.2rem 0;
    font-size: 1rem;
    line-height: 1.25;
  }

  th {
    text-align: right;
  }
}

.price {
  font-size: 1.35rem;
  font-weight: bold;
}

@media (max-width: 850px) {
  .buyOptionRadio {
    flex-direction: column;
    padding-top: 2rem;

    &:only-of-type {
      grid-column: span 2;
      width: max-content;
      max-width: min(100%, 500px);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .infoContainer {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    h2 {
      text-align: center;
    }
  }
}
