.showcaseContainer {
  margin-bottom: clamp(4rem, 12vmin, 13rem);
}

.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(250px, 13%), 1fr));
  grid-auto-flow: row dense;
  gap: clamp(1rem, 3.25vmin, 3rem);
}
