@use "../../../../common/styles/mixins";

.faqs {
  @include mixins.container-s;
  @include mixins.flow;

  ul {
    padding-left: 1rem !important;
    list-style-type: decimal !important;
  }

  h3 {
    margin-top: clamp(1.5rem, 6vmin, 2.5rem);
  }
}
