body {
  font-family: "EB Garamond", serif;
  font-size: 1.25rem;
  text-rendering: optimizeLegibility;
  color: #181818;
  overflow-y: scroll;
  line-height: 1.5;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border: 1px solid white;
  padding: 2px;
}

h1 {
  font-size: 1.7rem;
  font-size: clamp(1.5rem, 5vmin, 1.9rem);
  line-height: 1.25;
}

h2 {
  font-size: 1.4rem;
  font-size: clamp(1.4rem, 4vmin, 1.6rem);
}

h3 {
  font-size: 1.15rem;
  font-size: clamp(1.15rem, 3vmin, 1.25rem);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-top: 1.75rem;
}

form input,
form textarea {
  padding: 0.4rem 0.7rem;
  width: 100%;
}

form textarea[name="message"],
form button {
  grid-column: span 2;
}

form button {
  justify-self: end;
}

*::placeholder {
  opacity: 0.6;
}

@media (max-width: 730px) {
  form {
    grid-template-columns: 1fr;
  }

  form textarea[name="message"],
  form button {
    grid-column: span 1;
  }

  form button {
    width: auto;
    justify-self: stretch;
  }
}