@import "reset";
@import "variables";
@import "mixins";
@import "utils";
@import "base";

main {
  @include page-side-padding;
  flex-grow: 1;

  section {
    @include container-l;
    margin-top: clamp(1.5rem, 6vmin, 10rem);
    margin-bottom: clamp(1.5rem, 6vmin, 10rem);

    &:last-of-type {
      margin-bottom: clamp(4.5rem, 10vmin, 15rem);
    }
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-top: 1.75rem;

  textarea[name="message"],
  button {
    grid-column: span 2;
  }

  button {
    justify-self: end;
  }
}

@media (max-width: 730px) {
  form {
    grid-template-columns: 1fr;

    textarea[name="message"],
    button {
      grid-column: span 1;
    }

    button {
      width: auto;
      justify-self: stretch;
    }
  }
}

.home > section {
  margin-bottom: clamp(3.5rem, 9vmin, 10.5rem);
}

.home > .standout {
  margin-bottom: 0;
}

.thankyou,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    padding: 1rem;
    margin: 0 auto;
    height: 150px;
  }
}
