@use "../../styles/mixins";

.footer {
  @include mixins.page-side-padding;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: right;
  opacity: 0.5;

  p {
    @include mixins.container-l;
  }
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 450px) {
  .footer {
    text-align: center;
    font-size: 1.05rem;
  }
}
