@use "../../../../../../common/styles/mixins";

.showcaseItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1rem;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.9s, transform 0.7s ease;
  @include mixins.dropShadow;

  h3 {
    position: absolute;
    left: -0.2rem;
    bottom: 0;
    max-width: 100%;
    width: max-content;
    padding: 0.2rem 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 1.25;
    text-shadow: 0 0 6px white, 0 0 6px white, 0 0 6px white, 0 0 6px white,
      0 0 6px white, 1px 0 6px white, 1px 0 6px white, 1px 0 6px white,
      1px 0 6px white, 1px 0 6px white, -2px 0 6px white, -2px 0 6px white,
      -2px 0 6px white, -2px 0 6px white, -2px 0 6px white, 0 0 7px white,
      0 0 8px white, 0 0 9px white;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover h3 {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.ready {
  opacity: 1;
  transform: scale(1);
}

.landscape {
  grid-row-end: span 1;
  grid-column-end: span 1;
}

.portrait {
  grid-row-end: span 2;
  grid-column-end: span 1;
}

@media (max-width: 950px) {
  .showcaseItem h3 {
    display: none;
  }
}

@media (max-width: 589px) {
  .showcaseItem:not(.spotlight) {
    display: none;
  }
}

@media (min-width: 590px) {
  .landscape.spotlight {
    grid-row-end: span 2;
    grid-column-end: span 2;
  }

  .portrait.spotlight {
    grid-row-end: span 4;
    grid-column-end: span 2;
  }
}
