.navLink a,
.navLink p {
  padding: 0.5rem 1rem;
  position: relative;
}

.navLink p {
  display: inline;
  cursor: pointer;
}

.navLink a::before,
.navLink p::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0;
  bottom: 0.35rem;
  left: 1rem;
}

.navLink a:hover::before,
.navLink p::before {
  width: calc(100% - 2rem);
}
