.gallery-filter__radio-group:not(:first-of-type) {
  margin-top: 2.5rem;
}

.gallery-filter__radio-group legend {
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.gallery-filter__radio-group > div {
  display: flex;
  flex-direction: column;
}

.gallery-filter__radio-group input {
  display: none;
}

.gallery-filter__radio-group label {
  font-size: 1.15rem;
  text-transform: capitalize;
  padding: 0.15rem 1rem;
  cursor: pointer;
  clip-path: polygon(
    0 0,
    calc(100% - 0.7rem) 0,
    100% 50%,
    calc(100% - 0.7rem) 100%,
    0 100%
  );
}

.gallery-filter__radio-group label:hover {
  background-color: #f4f4f4;
}

.gallery-filter__radio-group input:checked + label {
  color: white;
  background-color: black;
}

@media (max-width: 850px) {
  .gallery-filter__radio-group {
    display: none;
  }
}
