.button {
  position: relative;
  display: block;
  padding: 0.5rem 1.5rem;
  min-width: 7rem;
  color: white;
  background-color: black;
  border: 1px solid transparent;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 50%;
    width: 4rem;
    background-color: white;
    transition: transform 0.2s;
  }

  &::before {
    top: -4px;
    left: -4px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: translate(5px, 5px);
  }

  &::after {
    bottom: -4px;
    right: -4px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: translate(-5px, -5px);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    transform: translate(0, 0);
  }
}

.secondary {
  color: black;
  background-color: white;
  border: 1px solid black;
}
