.header,
main,
.footer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: clamp(1rem, 4vmin, 2rem);
  padding-right: clamp(1rem, 4vmin, 2rem);
}

main section,
.container-wide {
  max-width: 1400px;
  max-width: clamp(1400px, 70vw, 2200px);
  margin-left: auto;
  margin-right: auto;
}

.container-med {
  max-width: 1200px;
  max-width: clamp(1200px, 50vw, 1600px);
  margin-left: auto;
  margin-right: auto;
}

.container-thin {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cta-container {
  display: flex;
  justify-content: center;
}

.cta-container .btn:not(:first-of-type) {
  margin-left: 2rem;
}

@media (max-width: 520px) {
  .cta-container {
    flex-direction: column;
  }
  .cta-container .btn:not(:first-of-type) {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.nav__page-links .nav__home {
  display: none;
}

@media (max-width: 960px) {
  .nav__page-links .nav__home {
    display: block;
  }
}

main .btn,
main button {
  padding: 0.5rem 1.5rem;
  display: block;
  text-align: center;
  position: relative;
  min-width: 7rem;
  color: white;
  background-color: black;
  border: 1px solid transparent;
}

main button.btn-secondary,
main .btn.btn-secondary {
  color: black;
  background-color: white;
  border: 1px solid black;
}

main .btn::before,
main .btn::after {
  content: "";
  position: absolute;
  background-color: white;
  z-index: -1;
  height: 50%;
  width: 4rem;
  transition: transform 0.2s;
}

main .btn::before {
  top: -4px;
  left: -4px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: translate(5px, 5px);
}

main .btn::after {
  bottom: -4px;
  right: -4px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: translate(-5px, -5px);
}

main .btn:hover::before,
main .btn:focus::before,
main .btn:hover::after,
main .btn:focus::after {
  transform: translate(0, 0);
}

.buy form .buy__options,
.buy form p {
  grid-column: span 2;
}

@media (max-width: 730px) {
  .buy form .buy__options,
  .buy form p {
    grid-column: span 1;
  }
}

main {
  flex-grow: 1;
}

main section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: clamp(1.5rem, 6vmin, 10rem);
  margin-bottom: clamp(1.5rem, 6vmin, 10rem);
}

main section:last-of-type {
  margin-bottom: 4.5rem;
  margin-bottom: clamp(4.5rem, 10vmin, 15rem);
}

.home > section {
  margin-bottom: 3rem;
  margin-bottom: clamp(3.5rem, 9vmin, 10.5rem);
}

.home > .standout {
  margin-bottom: 0;
}

.about h3,
.faqs h3 {
  margin-top: 2rem;
  margin-top: clamp(1.5rem, 6vmin, 2.5rem);
}

.faqs-list {
  list-style-type: decimal !important;
  padding-left: 1rem !important;
}

.commissions .cta-container {
  margin-bottom: 7.5rem;
}

@media (max-width: 450px) {
  .commissions .cta-container {
    margin-bottom: 4rem;
  }
}

.thankyou,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thankyou img,
.error img {
  padding: 1rem;
  margin: 0 auto;
  height: 150px;
}
