.gallery__item {
  justify-self: center;
  align-self: center;
  text-align: center;
  position: relative;
  /* opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.9s, transform 0.7s ease; */
}

/* .ready {
  opacity: 1;
  transform: scale(1);
} */

.hidden {
  display: none;
}

.gallery__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
}

.gallery__item a:hover {
  text-decoration: none;
  transform: scale(1.02);
}

.gallery__item picture {
  display: flex;
  justify-content: center;
}

.gallery__item img {
  max-height: 320px;
  max-width: 90%;
  margin-bottom: 0.5rem;
  width: auto;
  /* opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.9s, transform 0.7s ease; */
}

/* .gallery__item img.ready {
  opacity: 1;
  transform: scale(1);
}

.gallery__item img.hidden {
  display: none;
} */

@media (max-width: 530px) {
  .gallery__item img {
    max-height: 450px;
    max-width: 90%;
  }
}

.gallery__item h2 {
  font-size: 1.25rem;
}

.gallery__item--availability {
  font-size: 1rem;
}