@use "@/common/styles/mixins";

.detailsContainer {
  @include mixins.container-m;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(2rem + 1vw);
}

@media (max-width: 960px) {
  .detailsContainer {
    flex-direction: column;
    align-items: stretch;
    gap: calc(3rem + 2vh);
  }
}
